@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
body {
  background-color: #f9fafb;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #f1f2f3;
  border: 0px;
}

.avatar {
  border: 8px solid #e0d39c;
}

.navigation-bar {
  border-bottom: 4px solid #344054;
  padding-bottom: 8px;
}
