@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

body {
  background-color: #f9fafb;
  font-family: "Onest", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #f1f2f3;
  border: 0px;
}
